<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="home.css">
    <title>EchitF</title>
</head>
<body>
    <nav class="navbar">
        <ul class="nav-list">
            <li class="logo"><img src="EchitF-img.jpg" alt="EchitF logo"></li>
            <li><a href="/" class="link">Home</a></li>
            <li><a href="plans.html" class="link">Plans</a></li>
            <li><a href="join.html" class="link">Join a Chit</a></li>
            <li><a href="status.html" class="link">Chit Status</a></li>
            <li><a href="contact.html" class="link">Contact Us</a></li>
        </ul>
        <div class="nav-btn">
            <button class="login-btn"><a href="/login">Log In</a></button>
            <button class="register-btn"><a href="/signup">Sign Up</a></button>
        </div>
        <div class="menu-btn">
            <i class='bx bx-menu'></i>
        </div>
    </nav>
    <main class="content">
        <div class="caption">
            <p>Your Trusted Partner <br> for a Brighter Future.</p>
        </div>
    </main>
</body>
</html>